/*  container css */
div#close-sidebar {
  display: none;
}
/*********  side menu css ***/
.sidebar-wrapper {
  left: 0px !important;
}
.page-content {
  padding-left: 260px !important;
}
/* media query for width */
@media screen and (max-width: 1600px) {
  .form-control-h2,
  h2,
  .h2 {
    font-size: 21px;
    line-height: 30px;
  }
  ul.task-action-buttons li {
    margin-right: 4px;
  }
  .page-wrapper.toggled .page-content {
    padding-left: 224px !important;
  }
  .sidebar-wrapper {
    width: 224px !important;
  }
  .companyname h1 {
    margin: 33px 0;
    font-size: 23px;
  }
  .page-content {
    padding-left: 224px !important;
  }
  .sprint-task-block {
    padding: 10px;
  }
  .sprint-status-content {
    padding: 5px 10px;
  }
  .sprint-task-block {
    padding: 10px;
  }
  .page-ico {
    font-size: 25px;
  }
  .page-list-block {
    padding: 15px;
  }
}
@media screen and (max-width: 1400px) {
  .login-form-sidebar {
    width: 506px;
  }
  .form-control-h2,
  h2,
  .h2 {
    font-size: 19px;
  }
  .backlog-task-details .form-control-h2 {
    font-size: 14px;
    line-height: 24px;
  }
  .companyname h1 {
    font-size: 18px;
    line-height: 29px;
  }
  .companyname h1::after {
    height: 2px;
  }
  .task-assign-person .profile-info-img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 1199px) {
  body {
    overflow-x: auto !important;
  }
  div#close-sidebar {
    display: block;
  }
  div#close-sidebar {
    position: absolute;
    right: 0;
  }
  div#close-sidebar span {
    background: #000;
    color: #fff !important;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .page-wrapper.toggled .page-content {
    padding-left: 0px !important;
  }
  .sidebar-wrapper {
    left: -300px !important;
  }
  .page-content {
    padding-left: 0px !important;
  }
  .page-wrapper.chiller-theme.toggled .sidebar-wrapper {
    left: 0px !important;
    background: #f1f1f1;
    z-index: 99;
  }
  #show-sidebar {
    z-index: 9;
  }
  .form-control-h2,
  h2,
  .h2 {
    font-size: 17px;
  }
  .sidebar-issue-content p {
    font-size: 12px;
    line-height: 15px;
  }
  .task-assign-person .profile-info-img {
    width: 25px;
    height: 25px;
  }
  .sprint-status-content {
    padding: 0 10px;
  }
  .sprint-task-block {
    padding: 8px;
  }
  .project-managment-block {
    padding-right: 0 !important;
  }
  .activity-person-img img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 991px) {
  .navbar-collapse {
    background: #fff;
    border-bottom: 2px solid;
  }
  .nav-link.btn {
    display: inline-block;
    margin: 0;
  }
  .top-search-bar {
    margin: 10px 0;
  }
  .user-dropdown .dropdown-menu,
  .notification-dropdown .dropdown-menu {
    left: 0;
    right: auto;
  }
  .form-height {
    padding-right: 10px;
  }
  h3,
  .h3 {
    font-size: 18px;
    line-height: 21px;
  }
  .companyname h1 {
    margin: 20px 0;
    padding-bottom: 8px;
    line-height: 24px;
    font-size: 17px;
  }
  .account-form-wrapper {
    padding: 20px;
  }
  .login-page-logo {
    max-width: 123px;
  }
  .companyname h1::after {
    height: 1px;
  }
  .profile-info-label {
    min-width: 100px;
    width: auto;
  }
  .sprint-tasks-wrapper .row {
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
  .sprint-tasks-wrapper .col {
    flex: 0 0 auto;
    width: 195px;
  }
  .d-task-icon {
    width: 17px;
    height: 17px;
    font-size: 10px;
    line-height: 19px;
  }
  .space-activity-text p {
    font-size: 12px;
    line-height: 19px;
  }
  .accordion .card .card-body {
    padding: 10px;
  }
  .accordion .card-header h6 {
    padding: 10px 10px;
  }
  .side-accordion .task-activity-tabs .nav-link {
    font-size: 10px;
  }
}
@media screen and (max-width: 767px) {
  .login-form-sidebar {
    width: 100%;
  }
  .modal-form-wrapper label {
    text-align: left;
  }
  ul.filters-list li {
    margin: 5px 0;
  }
  li.filter-label {
    padding-left: 10px !important;
  }
  body,
  p {
    font-size: 11px;
    line-height: 19px;
  }
  .issues-sidebar-wrapper {
    margin-bottom: 20px;
  }
  .project-pic {
    width: 30px;
    padding: 2px;
    height: 30px;
    font-size: 19px;
    border-radius: 2px;
  }
  .form-control-h2,
  h2,
  .h2 {
    font-size: 15px;
  }
  .sidebar-issue-content h6 {
    font-size: 12px;
  }
  .dropdown-item {
    font-size: 11px;
  }
  .collapse-link {
    font-size: 12px;
  }
  .dashboard-block-wrapper .table td,
  .dashboard-block-wrapper .table th {
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .page-list-content {
    height: auto;
  }
  .page-list-block {
    margin: 10px 0;
  }
  h6 {
    font-size: 13px;
  }
}
/* media query for between */

@media (min-width: 320px) and (max-width: 991px) {
}

/* media query for height */
@media screen and (max-height: 600px) {
}
