/********** fonts ***********/

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"),
    url("../webfonts/Segoe UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"),
    url("../webfonts/Segoe UI Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"),
    url("../webfonts/Segoe UI Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"),
    url("../webfonts/Segoe UI Bold Italic.woff") format("woff");
}
/*========== Do Not Touch In Css Start ========== */
html {
  /* scroll-behavior: smooth; */
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden !important;
}
body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  overflow-x: hidden !important;
  letter-spacing: 0.5px;
  font-family: "Segoe UI Regular", "Open Sans";
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
.container-full {
  padding: 0 40px;
}
a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: #2a4ea3;
}
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  opacity: 0.8;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1px;
  font-family: "Open Sans";
  text-transform: capitalize;
}

h2,
.h2 {
  font-size: 25px;
  line-height: 33px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0px !important;
  text-transform: capitalize;
}

h3,
.h3 {
  text-transform: capitalize;
  letter-spacing: 0px;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 11px;
  padding: 0;
  position: relative;
}
h4 {
  text-transform: capitalize;
  letter-spacing: 0px;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
  padding: 0;
}
h5,
.h5 {
  font-size: 16px;
  line-height: 23px;
}
h6 {
  font-weight: 700;
  font-size: 14px;
}
p {
  font-size: 13px;
  line-height: 21px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}

.btn:focus {
  outline: none !important;
}
.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
button:focus {
  outline: none;
}
.text-purple {
  color: #ef59a1;
}
.text-custom-grey {
  color: #7f7f7f;
}
.big-text {
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
}
.m-b-0 {
  margin-bottom: 0;
}
.common-section-class-1 {
  padding: 50px 0;
}
.common-section-class {
  padding: 80px 0;
}
span.title-weight {
  font-weight: 400;
}
.table-block {
  display: table;
  height: 100%;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.navbar {
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}
.align-center {
  align-items: center;
}
.bg-blue {
  background-color: #11153f !important;
}
.text-blue {
  color: #11153f !important;
}
.btn {
  font-size: 13px;
  text-transform: capitalize;
}
.btn-blue {
  background-color: #11153f;
  border: 1px solid #11153f;
  color: #fff !important;
}
.btn-blue:hover {
  background-color: #fff;
  color: #11153f !important;
}
.btn-green {
  background-color: #00718f;
  border: 1px solid #00718f;
  color: #fff !important;
}
.btn-green:hover {
  background-color: #fff;
  color: #00718f !important;
}
.btn-white {
  background-color: #fff;
  border: 1px solid #00718f;
  color: #00718f !important;
}
.btn-white:hover {
  background-color: #00718f;
  color: #fff !important;
}
.btn-sky-blue {
  background: #e0f0ff;
}

.btn-icon span {
  padding-right: 7px;
  position: relative;
  top: 1px;
}
.bg-green {
  background: #008000;
}
.bg-light-green {
  background: #2ea822 !important;
}
.bg-orange {
  background: #ff5630 !important;
}
.bg-blue {
  background: #2684ff !important;
}
.bg-red {
  background: #ff0000 !important;
}
.bg-yellow {
  background: #fff000 !important;
}
.bg-purple {
  background: #673ab7 !important;
}
.bg-dark-green {
  background: #00718f !important;
}
.bg-sky-blue {
  background: #01ffff !important;
}
.text-orange {
  color: #ff5630 !important;
}
.text-blue {
  color: #2684ff !important;
}
.text-green {
  color: #042b06 !important;
}
.text-light-green {
  color: #2ea822 !important;
}
.text-purple {
  color: #673ab7 !important;
}
.border-orange {
  border-color: #ff5630 !important;
}
.border-light-green {
  border-color: #2ea822 !important;
}
.border-purple {
  border-color: #673ab7 !important;
}
.border-yellow {
  border-color: #ffc107 !important;
}
.border-blue {
  border-color: #2684ff !important;
}
.border-green {
  border-color: #042b06 !important;
}
.border-sky-blue {
  border-color: #01ffff !important;
}
.border-golden {
  border-color: #d4af37 !important;
}

.border-left-3 {
  border-left: 3px solid;
}
.border-left-2 {
  border-left: 2px solid;
}
.p-l-5 {
  padding-left: 5px;
}
.p-l-10 {
  padding-left: 10px;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 5px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-50 {
  margin-bottom: 50px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
/*========== Do Not Touch In Css End  ========== */
.container {
  width: 100% !important;
  max-width: 1920px !important;
}
/**========== header css ========== */
.navbar-light .navbar-nav .nav-link {
  color: #000;
}
img.logo-img {
  max-width: 75px;
}
.form-control:focus {
  border-color: #555;
  box-shadow: none;
}
.btn:focus {
  box-shadow: none !important;
}
.fixed-wrapper {
  position: fixed;
  width: 100%;
  z-index: 99;
  background: #fff;
}
form.form-inline.top-search-bar .form-control {
  padding: 5px 10px !important;
  font-size: 14px;
}
li.nav-item .btn {
  padding: 5px 15px;
  font-size: 14px;
  margin: 0 10px;
}
.dropdown-menu {
  padding: 0;
  box-shadow: 0 4px 8px -2px rgb(9 30 66 / 25%), 0 0 1px rgb(9 30 66 / 31%);
  border-color: #f1f1f1;
  border-radius: 0;
  width: 200px;
}
.issue-dropdown,
.notification-drop {
  width: 290px;
}
.user-dropdown {
  position: relative;
  top: -4px;
}
.dropdown-item {
  padding: 3px 8px;
  font-size: 13px;
  text-transform: capitalize;
  white-space: inherit;
}
.dropdown-item:hover {
  background: #00718f;
  color: #fff !important;
}
.arrow-none .dropdown-toggle::after {
  display: none;
}
img.avatar-img {
  width: 24px;
  height: 24px;
  max-width: 24px;
  border-radius: 100%;
}
.user-dropdown .dropdown-menu,
.notification-dropdown .dropdown-menu {
  left: auto !important;
  right: 0;
}
.notification-drop .dropdown-item {
  border-bottom: 1px solid #e2e1e1;
}
.notification-drop .dropdown-item:last-child {
  border-bottom: 0;
}
span.dropdown-label {
  font-size: 13px;
  padding: 5px 8px 3px;
  font-weight: 600;
  display: inline-block;
  width: 100%;
}
.nav-link {
  text-transform: capitalize;
}
.dropdown-item .d-task-icon {
  margin-right: 8px;
}
.notification-icon {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.notification-icon b {
  position: absolute;
  font-size: 10px;
  width: 15px;
  height: 15px;
  background: #ec4a16;
  color: #ffe;
  border-radius: 100%;
  line-height: 15px;
  text-align: center;
  left: 12px;
  top: -5px;
}
/*************** title bar ************/
.page-title {
  display: flex;
  padding: 0px 0 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.page-title .dropdown-toggle {
  font-size: 13px;
  letter-spacing: 0.4px;
}
/*************** page 1 ************/
.main-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}
.main-col {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.main-col-3 {
  width: 300px;
}
.main-col-4 {
  width: 400px;
}
.sidebar-issue-icon {
  margin-right: 12px;
}
.sidebar-issue-content p {
  white-space: nowrap;
  width: 93%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-issue-content {
  width: calc(100% - 25px);
}
.sidebar-issue-icon span {
  position: relative;
  top: -2px;
}
.sidebar-issue-content h6 {
  font-size: 14px;
}
.sidebar-issue-content h6 {
  font-size: 13px;
  margin: 0;
  color: #333;
}
.sidebar-issue-content p {
  margin: 0;
  font-size: 13px;
  color: #000;
}
.sidebar-issue-block {
  display: flex;
  align-items: center;
}
.sidebar-issue-block:hover {
  background-color: #deebff;
}
.sidebar-issue-block {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.sidebar-issue-icon span {
  position: relative;
  top: -2px;
}
.issue-sorting .form-control {
  font-size: 13px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.issues-sidebar-wrapper {
  border-right: 1px solid #ccc;
  height: 100vh;
}
.issue-sorting {
  padding: 10px 10px 0;
}
.issues-sidebar {
  height: calc(100vh - 176px);
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

.issue-sorting .dropdown {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0px 5px;
  color: #000 !important;
  margin-bottom: 10px;
  position: relative;
}
.issue-sorting .dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 16px;
}
.issue-sorting .dropdown a {
  color: #000;
}
.issue-sorting .dropdown-menu {
  width: 100%;
  left: -4px !important;
}
.create-issue {
  padding: 10px 0;
  display: inline-block;
  font-size: 13px;
  color: #000 !important;
  text-transform: capitalize;
  padding: 5px 10px;
  margin-top: 10px;
}
.create-issue:hover {
  background: #e0e0e0;
}
.create-issue span {
  font-size: 13px;
  margin-right: 8px;
}

/************* task detail css **************/
.task-title {
  display: flex;
  align-items: center;
}
.task-project-title a {
  font-size: 13px;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
}
.task-title-content {
  width: calc(100% - 55px);
}
.task-project-title a:hover {
  text-decoration: underline;
}
.task-project-title a::after {
  content: "/";
  position: absolute;
  right: 2px;
}
.task-project-title a:last-child::after {
  display: none;
}
.form-control-h2 {
  width: 100%;
  font-size: 25px;
  line-height: 33px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0px !important;
  text-transform: capitalize;
  border: 0;
  position: relative;
}
.title-edit-icon {
  position: absolute;
  right: 1px;
  top: 1px;
  height: calc(100% - 2px);
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.editable-task-form {
  position: relative;
  left: -2px;
}
.editable-task-form:hover .title-edit-icon {
  opacity: 1;
}
/****** data table css ******/
.dashboard-block-wrapper .dataTables_length,
.dashboard-block-wrapper .dataTables_filter {
  display: none;
}
.dashboard-block-wrapper .table td,
.dashboard-block-wrapper .table th {
  border-top: 0;
  font-size: 13px;
  padding: 10px;
}
.dashboard-block-wrapper .table thead th {
  border-bottom: 1px solid #dee2e6;
  font-weight: 500;
}
table.dataTable > thead .no-sort:before,
table.dataTable > thead .no-sort:after {
  display: none;
}
.d-task-icon {
  color: #fff;
  width: 19px;
  height: 19px;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
}

.dashboard-block-title {
  border-top: 4px solid #ccc;
  padding-top: 15px;
  margin-top: 10px;
}
table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  opacity: 1;
}
.status-tag {
  border: 1px solid;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 10.5px;
  text-transform: uppercase;
  display: inline-block;
}

ul.pagination .page-link {
  padding: 10px 5px;
  border: 0;
  background: transparent !important;
  color: #194b99 !important;
  box-shadow: none !important;
}
ul.pagination .page-item.active .page-link {
  color: #000000 !important;
}
.page-item.disabled .page-link {
  opacity: 0.7;
  color: #000000 !important;
}
span.priority-icon i {
  font-size: 0;
}
.th-status {
  width: 128px !important;
}
8
/**************** activities  ****************/
.activity-date-wrapper h6 {
  font-weight: normal;
  text-transform: capitalize;
  background: #f1f1f1;
  padding: 5px 10px;
  font-size: 13px;
}
.activity-block {
  display: flex;
  border-bottom: 1px solid #e2e1e1;
  padding: 10px 0;
  margin-bottom: 10px;
}
.activity-list-block {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e1e1;
  margin-bottom: 10px;
}
.activity-list-wrapper .activity-list-block:last-child {
  padding-bottom: 0px;
  border-bottom: 0;
  margin-bottom: 0px;
}
.activity-person-img img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 15px;
  object-fit: cover;
}
.bold {
  font-weight: bold;
}
span.activity-time {
  font-size: 12px;
  padding-left: 4px;
  color: #555;
}
.activity-list-wrapper {
  width: calc(100% - 55px);
}
.bg-skyblue {
  background: #e0f0ff;
}
.activity-content {
  padding: 3px 5px;
  margin-bottom: 10px;
  border-left: 1px solid #caddef;
}
.line-through {
  text-decoration: line-through;
}
.activity-content p {
  margin-bottom: 0px;
}
.show-more-link {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  display: block;
  background: #f1f1f1;
  color: #000;
  padding: 3px 0;
}
.show-more-link:hover {
  background: #e0f0ff;
  color: #000;
}
.show-more-link span {
  font-size: 9px;
  position: relative;
  left: 4px;
}
.copyright-wrapper {
  background: transparent;
  text-align: center;
  padding: 5px 0 5px;
  color: #00718f;
  font-weight: bold;
  border-top: 2px solid #00718f;
}
.copyright-wrapper a {
  color: #00718f;
}
/************  right actions wrapper ***********/
.collapse-link {
  font-weight: bold;
  color: #333 !important;
  font-size: 14px;
  font-family: "Open Sans";
}
.collapse-link span {
  color: #2a4ea3;
  font-size: 11px;
  margin-left: 3px;
}
.collapse-block {
  display: flex;
  margin: 2px 0;
  flex-wrap: wrap;
}
.collpase-lable {
  width: 100px;
  text-transform: capitalize;
  color: #555;
}
.editable-task-form .form-control-p {
  border: 0 !important;
}
p.form-control-p {
  margin: 0;
  text-transform: capitalize;
}
.tracker-block {
  margin-bottom: 30px;
}
.progress {
  height: 9px;
  background-color: #e9ecef;
  border-radius: 3px;
  width: 100px;
}
.progress-content {
  display: flex;
  align-items: center;
}
span.progress-content {
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 13px;
}
.task-actions-wrapper {
  padding: 20px 0;
}
ul.task-action-buttons li {
  display: inline-block;
  margin: 4px 10px 4px 0;
}
.tasks-activity-wrapper .tracker-block {
  margin: 20px 0 30px;
}
.task-detail-content .d-task-icon {
  margin-right: 5px;
}
.collpase-content {
  text-transform: capitalize;
}
.task-detail-content .user-content-block p {
  margin-bottom: 8px;
}
.task-activity-tabs .nav-link {
  background-color: transparent !important;
  color: #000 !important;
  font-weight: bold;
  padding: 3px 0;
  border-radius: 0;
  position: relative;
  font-family: "Open Sans";
}
.task-activity-tabs .nav-link.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2a4ea3;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.task-activity-tabs .nav-item {
  margin-right: 20px;
}
.task-activity-tabs {
  width: 100%;
  padding: 5px 0;
}
.task-activity-tabs .nav {
  border-bottom: 2px solid #e2e1e1;
  width: 100%;
}
/*************activity tabs  **************/
.work-log-p .person-image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 2px;
}
.log-content p {
  margin: 0;
}
.comments-tab-block .activity-content {
  margin-top: 10px;
}
.work-log-block .collpase-lable {
  width: 125px;
  color: #555;
}
.sprint-data {
  padding-left: 15px;
}
.simple-bs-table table td,
.simple-bs-table table th {
  border: 0 !important;
  padding: 7px 4px;
}
.simple-bs-table table th {
  border-bottom: 1px solid #555 !important;
}
.simple-bs-table table td {
  border-bottom: 1px solid #ccc !important;
}
.simple-bs-table table tr:last-child td {
  border-bottom: 0 !important;
}
/**************** scroll top css ****************/
.scroll-top {
  width: 25px;
  height: 25px;
  line-height: 25px;
  position: fixed;
  bottom: 105%;
  right: 10px;
  font-size: 12px;
  z-index: 99;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: 1s ease;
  border-radius: 5px;
  outline: 0 !important;
}
.scroll-top:hover,
.scroll-top:focus {
  outline: 0 !important;
}
.scroll-top.open {
  bottom: 30px;
}
.scroll-top span {
  color: #fff;
}

.scroll-top {
  background: linear-gradient(90deg, #03a9f4, #009688 50%, #2196f3) var(--x, 0) /
    200%;
  border: 0;
  text-decoration: none !important;
}
.scroll-top:hover {
  background: linear-gradient(90deg, #009688, #03a9f4 50%, #2196f3) var(--x, 0) /
    200%;
}

/* position fixed css */
/*
.issues-sidebar-wrapper {
  position: fixed;
}
.title-bar {
  position: fixed;
  top: 44px;
  width: 100%;
  left: 285px;
  background: #fff;
  z-index: 9;
}
*/
/**********  popup wrapper ************/
.form-control {
  font-size: 13px;
}
.modal-form-wrapper label {
  text-align: right;
  width: 100%;
  margin: 0;
  text-transform: capitalize;
}
span.astric.text-orange {
  padding-left: 3px;
  font-size: 15px;
}
.p-r-0 {
  padding-right: 0 !important;
}
/***********  custom file uploader  ************/
.custom-file-upload #uploaderCont #dragandrophandler {
  background: transparent !important;
  height: 100px !important;
  min-height: auto !important;
  width: 100%;
  border-radius: 4px;
}
.custom-file-upload #uploaderCont .row.fileQueue {
  border: 0 !important;
}
.custom-file-upload #uploaderCont .row.fileQueue .desc,
.custom-file-upload #uploaderCont .row.fileQueue .options {
  display: none !important;
}
.custom-file-upload .container-fluid {
  padding: 0;
}
.custom-file-upload span,
.custom-file-upload label {
  text-align: center;
  padding: 0 0 0 5px !important;
  margin: 0 !important;
}
.custom-file-upload #uploaderCont #dragandrophandler svg {
  width: 79px !important;
  height: 26px !important;
  opacity: 0.8 !important;
}
.custom-file-upload .row.submit {
  display: none !important;
}
.custom-file-upload #uploaderCont .row.fileQueue {
  padding: 10px 0 0px;
}
.form-height {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
/***** filters css ********/
.filters-wrapper {
  width: 100%;
}
li.filter-label {
  color: #555;
  padding-left: 0 !important;
  padding-right: 10px;
}
ul.filters-list li {
  display: inline-block;
}
ul.filters-list li a {
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 3px;
}
ul.filters-list li a.active {
  background: #00718f;
  color: #fff;
}
ul.filters-list li a:hover {
  background: #f1f1f1 !important;
  color: #2a4ea3 !important;
}
ul.filters-list {
  margin: 20px 0 5px;
}
.light-label {
  padding: 0 10px;
  color: #555;
}
.tooltip-wrapper p {
  font-size: 12px;
  margin: 0 !important;
  text-align: left;
}
.backlog-block {
  width: 100%;
}
li.backlog-li-block {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 10px 10px 7px;
  border-left: 1px solid #555;
  margin: 5px 0;
}
.backlog-task-assignee {
  padding-left: 10px;
}

li.backlog-li-block p {
  margin: 0;
}
ul.backlog-task-list {
  margin-top: 15px;
}
.backlog-task-content .d-task-icon {
  margin-right: 5px;
}
li.backlog-li-block:hover {
  background-color: #e0f0ff;
}
.sprint-icon {
  font-size: 15px;
  position: relative;
  top: 3px;
  padding-left: 5px;
}
.backlog-task-details .form-control-h2 {
  font-size: 15px;
  line-height: 27px;
}
.backlog-task-details .project-pic {
  width: 30px;
  padding: 2px;
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
}
.collapse-wrapper {
  clear: both;
}
p.error {
  color: #ff0000 !important;
  position: absolute;
  left: 0;
  bottom: -17px;
  margin: 0;
  font-size: 12px;
}
.form-group {
  margin-bottom: 25px;
  position: relative;
}
.form-field {
  position: relative;
}
span.input-group-addon {
  background: transparent;
  width: 30px;
  border: 1px solid #ccc;
}
/****** login page css ******/
.login-form-sidebar {
  width: 650px;
  position: absolute;
  right: 0;
}
.login-content-wrapper {
  margin-bottom: 100px;
}
.bg-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: fixed;
}
.bg-login {
  background-image: url(../images/login-banner.png);
  position: relative;
  height: 100vh;
}
.bg-color {
  background-color: rgba(0, 113, 143, 0.15);
}
.account-form-wrapper {
  padding: 50px 30px 30px;
  background: #eef2fe;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}
.bg-sky {
 /* background-image: url(../images/pattern-4.png);*/
  position: fixed;
  width: 100%;
  height: 50px;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-size: cover;
  width: 650px;
}
.companyname h1 {
  font-family: "Domine", serif;
  text-align: center;
  margin: 35px 0 35px;
  color: #00718f;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  padding-bottom: 15px;
}
.companyname h1::after {
  content: "";
  position: absolute;
  width: 138px;
  height: 2px;
  background-color: #00718f;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.login-icon {
  max-width: 60px;
  margin-bottom: 20px;
}
.login-page-logo {
  max-width: 145px;
}
.login-form {
  margin-top: 30px;
}
.full-btn {
  clear: both;
}
.account-form-wrapper .form-control {
  font-size: 13px;
  padding: 23px 15px;
  border-radius: 0;
}
.login-btn .btn {
  padding: 10px 0;
  font-size: 17px;
  border-radius: 0;
}
.account-page-info {
  position: relative;
  z-index: 1;
}
label.form-check-label {
  cursor: pointer;
}
.login-content-wrapper h5 {
  font-weight: 600;
}
.vector-4 {
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 564px;
  z-index: 1;
  position: absolute;
  background-image: url(../images/rocket-2.png);
  opacity: 0.1;
  background-position: center;
}
ul.account-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
ul.account-links li a {
  text-transform: capitalize;
  color: #000;
  font-weight: normal;
  size: inherit;
  display: inline-block;
  margin-top: 10px;
}
.reg-icon {
  font-size: 11px;
  padding-left: 4px;
  position: relative;
  top: 0px;
}

/* login animation */
.float-bob-y {
  animation-name: float-bob-y;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob-y;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob-y;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob-y;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

@keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: 0;
}

/** story page css **/
.project-title-content h5 {
  margin: 0;
}
.project-title-content p {
  color: #555;
  margin: 0;
}
.story-block {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 15px 0;
}
.story-block-wrapper {
  margin: 20px 0;
}
.st-project-title {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.st-last-updated {
  padding: 10px;
  border-top: 1px solid #ccc;
}
.st-icon {
  margin-right: 7px;
}
.st-last-updated p {
  color: #555;
}
.st-project-content {
  padding: 15px 10px;
}

ul.st-list li {
  padding-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.st-label {
  text-transform: capitalize;
}
.st-badge {
  background: #e8e7e7;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 40px;
  text-align: center;
}
a.st-link {
  color: #000 !important;
}
.story-block:hover {
  background: #f1f1f1;
}
header .bg-light {
  background-color: transparent !important;
}
/************ profile page css *************/
.profile-person-img,
.profile-info-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
}
.main-title-border {
  border-bottom: 1px solid#ccc;
  padding-bottom: 10px;
}
.profile-info-title {
  display: flex;
  justify-content: space-between;
}
.edit-profile-link {
  font-size: 16px;
  color: #000;
}
.profile-info-label {
  width: 200px;
  text-align: right;
  margin-right: 25px;
}
.profile-info-img {
  width: 50px;
  height: 50px;
}
ul.profile-info-list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.profile-project .d-task-icon {
  margin-right: 10px;
}

/*** sprint page css ***/
.sprint-status-title {
  border-top: 4px solid #ccc;
  padding: 10px 0;
  margin-top: 10px;
}
.sprint-status-title h6 {
  margin: 0;
}
.sprint-status-content {
  background: #f4f5f7;
  padding: 5px 15px;
  min-height: 100px;
  height: 100%;
}
.sprint-status-block {
  height: 100%;
}
.sprint-task-icon .priority-icon {
  margin-left: 7px;
}
.task-assign-person {
  position: absolute;
  right: 0;
  top: 0;
}
.task-assign-person .profile-info-img {
  width: 27px;
  height: 27px;
}
p.sprint-task-name {
  color: #555;
  padding: 5px 5px 10px 0;
  line-height: 18px;
}
.sprint-title-content p {
  margin: 0;
}
.sprint-task-detail {
  display: flex;
  justify-content: space-between;
  position: relative;
}
p.task-p-height {
  min-height: 48px;
}
.sprint-task-block {
  background: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  margin: 7.5px 0;
}
.sprint-task-block:hover {
  background: #e0f0ff;
  cursor: all-scroll;
}

/*********** comment css ***********/

.comment-btn {
  background: rgba(9, 30, 66, 0.08);
  padding: 8px 10px;
  display: inline-block;
  border-radius: 5px;
  font-weight: normal;
  font-family: "Segoe UI Regular", "Open Sans";
  color: #000 !important;
}
.comment-btn span {
  font-size: 15px;
  color: #000;
  padding-right: 4px;
  position: relative;
  top: 3px;
}
ul.subtask-list li {
  margin: 3px 0;
  list-style: auto;
}
ul.subtask-list {
  padding: 2px 0 10px 15px;
}

/* common class */
.done {
  background: #008000 !important;
  color: #fff !important;
}
.ready-qa {
  background: #2ea822 !important;
  color: #fff !important;
}
.open-question {
  background: #ff5630 !important;
  color: #fff !important;
}
.to-do {
  background: #2684ff !important;
  color: #fff !important;
}
.qa-progress {
  background: #00718f !important;
  color: #fff !important;
}
.sprint-tasks-wrapper .row {
  margin: 0 -8px;
}
.sprint-tasks-wrapper .col {
  padding: 0 8px;
}

p.sprint-task-id {
  padding: 0 34px 4px 0px;
}
input.form-control-p::-webkit-calendar-picker-indicator {
  display: none;
  opacity: 0;
}

/******* confluence css *********/
.confluence-table h6,
.confluence-table p {
  margin: 0 !important;
  padding: 0 !important;
}
.confluence-table table td,
.confluence-table table th {
  border: 1px solid #ccc !important;
  padding: 10px;
  vertical-align: middle;
}
.confluence-table table tr:last-child td {
  border-bottom: 1px solid #ccc !important;
}
.confluence-table table td:last-child {
  border-bottom: 1px;
}
td.table-label {
  width: 200px !important;
  text-align: right;
}
ul.list-styled li {
  list-style: circle;
}
ul.list-styled {
  padding-left: 15px;
}
.icon-titles {
  margin-right: 10px;
}
h5.title-wid-icon {
  font-weight: bold;
  margin-bottom: 15px;
  color: #555;
}
.icon-titles {
  margin-right: 5px;
  background: #00718f;
  color: #fff;
  padding: 4px;
  border-radius: 3px;
}
.edit-icon {
  float: right;
  color: #000 !important;
}
.importance-span {
  padding: 4px 9px;
  display: inline-block;
  text-align: center;
}
.actvities-links li a {
  text-transform: capitalize;
  border-bottom: 1px solid #99a4bf;
  padding: 5px 0;
  display: inline-block;
}
.actvities-links li {
  margin-bottom: 9px;
}
.space-content-title .activity-block {
  display: flex;
  border-bottom: 0;
  padding: 10px 0;
  margin-bottom: 10px;
  align-items: center;
}
.space-data-title {
  font-weight: bold;
}
.space-content-data {
  padding: 10px;
  margin-bottom: 10px;
  border-left: 1px solid #caddef;
  background: #e0f0ff;
}
img.uploaded-img-data.img-fluid {
  max-width: 300px;
  max-height: 186px;
  object-fit: cover;
  margin: 5px 5px 5px 0;
}
.link-title {
  margin-right: 7px;
}
/*****************  report page css ******************/
.report-sprint-form {
  width: 200px;
  margin-right: 15px;
}
.report-sprint-wrapper {
  display: flex;
  align-items: center;
}
.report-sprint-detail label {
  width: 60px;
}
.report-chart-block {
  max-width: 700px !important;
  width: 100%;
}
.report-table-block .d-task-icon,
.report-table-block .priority-icon {
  margin-right: 7px;
}
.sprint-time-icon {
  position: relative;
  top: 2px;
}
.td-time-estimate,
.th-time-estimate {
  text-align: right;
}
.report-table-block .th-status {
  width: 140px !important;
}
.report-table-block .table thead th {
  text-transform: capitalize;
  border-bottom: 0;
  border-top: 0;
}
.report-table-block .dataTables_length,
.report-table-block .dataTables_filter {
  display: none;
}

/***** confluence pages css ******/
.person-figure {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 7px;
}
.page-list-link,
.page-list-link:hover {
  color: #333 !important;
}
.page-list-link {
  display: block;
  height: 100%;
  position: relative;
  padding-bottom: 25px;
  z-index: 9;
}
.watch-icon {
  margin-right: 7px;
}
.page-list-tags {
  padding: 7px 0 10px;
}
.page-tags {
  background: #f1f1f1;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 5px;
  border: 1px solid #cccccc;
}
p.page-creator {
  margin: 12px 0 10px;
  font-size: 12px;
}
.page-ico {
  position: absolute;
  color: #ccc;
  font-size: 100px;
  right: 10px;
  bottom: 10px;
  opacity: 0.25;
}
.page-list-content {
  display: block;
  height: 56px;
  overflow: hidden;
  margin-bottom: 11px;
}
.page-list-content p {
  line-height: 18px;
}
p.updated-info {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}
.page-list-block {
  padding: 20px;
  height: 100%;
  margin: 20px 0;
  box-shadow: 0 4px 20px rgb(143 168 191 / 35%);
  position: relative;
}
.page-list-block:hover {
  box-shadow: 0 4px 20px rgb(143, 168, 191, 0.45);
}
.custom-col {
  display: flex;
  flex-direction: column;
}
.space-comments-wrapper .activity-person-img img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.space-comments-wrapper .d-task-icon {
  width: 16px;
  height: 16px;
  font-size: 11px;
  line-height: 18px;
}
.page-detail-content p {
  margin-bottom: 10px;
}
.page-detail-content ul li {
  list-style: circle;
}
.page-detail-content ul {
  padding: 5px 0 15px 20px;
}
.space-comments-wrapper .space-content-data {
  max-width: 1000px;
}
.space-comments-wrapper .space-content-title .activity-block {
  margin-bottom: 0;
}
form .badge-info {
  color: #000;
  background-color: #ccc;
  padding: 3px 10px 7px !important;
  display: inline-block;
  margin: 5px 5px 5px 0 !important;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  background-color: transparent !important;
}
.add-category-link {
  min-width: 200px;
  text-align: right;
}
.add-category-link {
  min-width: 150px;
  text-align: right;
  text-decoration: underline !important;
  color: #000;
}
.jumbotron {
  padding: 30px;
  border-radius: 0;
}
.timer {
  margin: 10px 0;
}
.space-comments-wrapper {
  border-top: 1px solid #e2e2e2;
  padding-top: 20px;
  margin-top: 20px;
}
.page-list-title {
  margin: 0;
  line-height: 20px;
}
.page-category-name {
  margin: 0;
  font-size: 11px;
}
.edit-page-icon {
  font-size: 20px;
  margin-left: 20px;
  color: #000 !important;
}
.like-text {
  color: #2684ff;
  margin-left: 3px;
}
.like-icon {
  font-size: 22px;
  position: relative;
  top: 2px;
  color: #333;
}
.like-block-text {
  padding-left: 15px;
}
.like-page-wrapper {
  margin-top: 25px;
}
.like-count {
  font-family: "Open Sans";
  color: #000;
}
/** form css ****/
.form-label {
  text-transform: capitalize;
  width: 100%;
}
.date-icon {
  font-size: 20px;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}
.date-control {
  position: relative;
  background-color: transparent !important;
  z-index: 1;
}
/* space page css */
.space-ico {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.space-blocks-wrapper .page-list-link {
  padding-bottom: 0px;
}
.space-icon-block {
  margin-bottom: 10px;
}
.space-blocks-wrapper .page-list-block {
  margin: 10px 0;
}
h4.f-600 {
  font-weight: 600;
}
.space-activity-log-wrapper h6 {
  font-size: 13px;
  color: #555;
}
.space-activity-text p {
  margin: 0;
}
p.space-activity-cat {
  font-size: 12px;
  color: #666;
}
.space-activity-content {
  display: flex;
  align-items: center;
}
.page-icon {
  color: #000;
  font-size: 36px;
  margin-right: 8px;
  color: #555;
}
.space-activity-block {
  margin: 10px 0;
  padding: 10px 10px;
  display: block;
  color: #000;
}
.space-action-icon {
  width: 30px;
  display: inline-flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 13px;
  margin-left: 10px;
  border: 0;
  background: transparent;
  outline: 0;
}
.space-action-icon:hover {
  background-color: #ccc;
}
.space-activity-block:hover {
  color: #000 !important;
  background-color: #f1f1f1;
}
.space-activity-actions {
  display: none;
}
.space-activity-block:hover .space-activity-actions {
  display: block;
}
.accordion-arrow-icon {
  float: right;
}
.accordion .card-header h6 {
  margin: 0;
  padding: 10px 15px;
}
.accordion .card {
  border-radius: 0;
  margin-bottom: 20px;
  border: 0;
}
.accordion .card .card-header {
  cursor: pointer;
  padding: 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
}
.accordion .card .card-body {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 15px;
}
.space-activity-date {
  font-size: 12px;
  color: #666;
}
.feed-content .page-icon {
  font-size: 25px;
}
.feed-content .space-activity-content:last-child {
  margin: 0 !important;
}
.accordion-arrow-down {
  display: none;
}
h6.collapsed .accordion-arrow-down {
  display: inline-block;
}
h6.collapsed .accordion-arrow-up {
  display: none;
}
.pages-search-form {
  margin: 10px 0;
  float: none !important;
}

/****  form et css *****/
p.task-et-p {
  line-height: 16px;
  margin-left: 5px !important;
}
.et-span {
  background: #e4e4e4;
  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 7px;
}

/****  editable field css  *****/
.editable-select-field .open > .dropdown-menu {
  display: block;
}
.editable-select-field ul.dropdown-menu.inner.selectpicker li {
  padding: 3px 10px;
  font-size: 13px;
}
.editable-select-field .bootstrap-select .dropdown-toggle::after {
  display: none;
}
.editable-select-field .bootstrap-select > .btn {
  width: 100%;
  padding-right: 19px;
  border: 1px solid #fff;
  padding: 5px 3px 0px;
  top: -4px;
}
.editable-select-field .bootstrap-select > .btn:hover {
  border-color: #ccc;
}
.editable-select-field .editable-task-form {
  position: relative;
  left: -2px;
  margin-bottom: 5px;
}
.editable-select-field .bootstrap-select .btn:focus {
  outline: none !important;
}
.editable-select-field .title-edit-icon {
  top: -3px;
}

/**** loader css ****/
div#loader {
  text-align: center;
}
.loader-01 {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  border: 3px dotted #333;
  border-radius: 50%;
  -webkit-animation: 3s loader-01 linear infinite;
  animation: 3s loader-01 linear infinite;
}
@-webkit-keyframes loader-01 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-01 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*** comments with new action buttons ***/
a.comments-icon-list {
  color: #000;
  margin-right: 5px;
}
a.comments-icon-list:hover {
  opacity: 0.8;
}
.comments-tab-block {
  position: relative;
}
.comment-action-btns {
  position: absolute;
  background: #fff;
  right: 0;
  top: 3px;
}
.comments-tab-block p.work-log-p {
  padding-right: 40px;
}
.btn.disabled, .btn:disabled {
  opacity: .65;
  cursor: auto !important;
}